﻿@model WebServiceBBM.Models.Order.OrderItem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Receipt_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receipt_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sell_to_Customer_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sell_to_Customer_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_Card_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Card_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Region)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sales_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sales_Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
