﻿@model IEnumerable<WebServiceBBM.Models.Order.OrderItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Receipt_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sell_to_Customer_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_Card_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sales_Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Receipt_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sell_to_Customer_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_Card_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sales_Type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
